<div class="container">
  <h2>Requests</h2>
  <hr>
  <form [formGroup]="debuggerForm" (ngSubmit)="validateRequest()">
    <div class="row">
      <div class="col">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <select class="form-select" formControlName="httpMethod" (change)="sethttpBody()">
              <option [value]="httpMethod.name" *ngFor="let httpMethod of httpMethodList">
                <button>{{httpMethod.name}}
                </button>
              </option>
            </select>
          </div>
          <input type="url" class="form-control" id="requestInput" placeholder="Endpunkt..."
            formControlName="requestInput">
          <div class="input-group-append">
            <button type="submit" class="btn btn-primary">
              <i class="bi bi-send"></i>
              Senden</button>
          </div>
        </div>
        <textarea *ngIf="showReqBody" class="form-control" formControlName="requestBody"
          id="exampleFormControlTextarea1" rows="5" placeholder="Request Body...">
        </textarea>
        <p class="text-danger">{{errorMessage}}</p>
      </div>
    </div>
  </form>
  <h2>Response Log
    <span style="float: right;">
      <button type="button" class="btn btn-danger" (click)="deleteLog()">
        <i class="bi bi-trash"></i>
        Log leeren
      </button>
    </span>
  </h2>
  <hr>
  <div class="card m-2" *ngFor="let response of responseList; let i = index">
    <div class="card-header" [ngClass]="{
            'positive' : response.color <= 0,
            'negative' : response.color > 0
         }">
      <div class="container">
        <div class="row">
          <div class="col-9 mt-2">
            <h5 class="card-title">{{response.httpMethod + response.request}}</h5>
          </div>
          <div class="col mt-2">
            <p>Dauer: {{response.duration}}ms</p>
          </div>
          <div class="col  mt-1">
            <span style="float: right;">
              <button type="button" class="btn btn-danger" (click)="deleteLogItem(response.id);">
                <i class="bi bi-trash"></i>
                Löschen
              </button>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body">
      <p><b> HTTP Statuscode:</b> {{response.statuscode}} {{response.type}}</p>
      <p><b>PxSessionID:</b> {{pxsessionID}}</p>
      <button *ngIf="response.responseBody!==''" type="button" class="btn btn-outline-primary ms-2 mb-3"
        (click)="isCollapsed[i] = !isCollapsed[i]" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
        Response Body (Antwort)
      </button>
      <div #collapse="ngbCollapse" [(ngbCollapse)]="!isCollapsed[i]" class="mb-2">
        <div class="card">
          <div class="card-body">
            <ngx-json-viewer [json]="response.responseBody" style="--ngx-json-null:none; --ngx-json-null-bg:none"
              [expanded]="false">
            </ngx-json-viewer>
          </div>
        </div>
      </div>
      <div>
        <button *ngIf="!(response.httpMethod=='GET' || response.httpMethod=='DELETE' || null || undefined)"
          type="button" class="btn btn-outline-primary ms-2 mr-2" (click)="isCollapsed2[i] = ! isCollapsed2[i]"
          aria-controls="collapseExample">
          Request Body (Anfrage)
        </button>
        <div *ngIf="response.requestBody !== undefined" #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed2[i]">
          <div class="card">
            <div class="card-body">
              <ngx-json-viewer [json]="response.requestBody" style="--ngx-json-null-bg:none"
                [expanded]="false"></ngx-json-viewer>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>