<div class="container">
  <h2>Requests</h2>
  <hr>
  <form [formGroup]="debuggerForm" (ngSubmit)="validateRequest()">
    <div class="row">
      <div class="col">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <select class="form-select" formControlName="httpMethod" (change)="sethttpBody()">
              <option [value]="httpMethod.name" *ngFor="let httpMethod of httpMethodList">
                <button>{{httpMethod.name}}
                </button>
              </option>
            </select>
          </div>
          <input type="url" class="form-control" id="requestInput" placeholder="Endpunkt..."
            formControlName="requestInput">
          <div class="input-group-append">
            <button type="submit" class="btn btn-primary">
              <i class="bi bi-send"></i>
              Senden</button>
          </div>
        </div>
        <textarea *ngIf="showReqBody" class="form-control" formControlName="requestBody"
          id="exampleFormControlTextarea1" rows="5"></textarea>
      </div>
    </div>
  </form>
  <h2>Response Log</h2>
  <span style="float: right;">
    <button style="margin-top: -55%;" type="button" class="btn btn-danger">
      <i class="bi bi-trash"></i>
      Löschen
    </button>
  </span>
  <hr>
  <div class="card" *ngFor="let response of responseList">
    <div class="card-header" [ngClass]="{
            'positive' : response.color <= 0,
            'negative' : response.color > 0
         }">
      <h5 class="card-title">{{response.httpMethod + '/' + response.request}}
        <span style="float: right;">
          <button type="button" class="btn btn-danger">
            <i class="bi bi-trash"></i>
            Löschen</button>
        </span>
      </h5>
    </div>
    <div class="card-body">
      <!-- <pre><p>{{response | json}}</p></pre> -->
      <button type="button" class="btn btn-outline-primary ms-2 mb-3" (click)="isCollapsed = ! isCollapsed"
        [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
        Response Body (Antwort)
      </button>
      <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
        <div class="card">
          <div class="card-body"><ngx-json-viewer [json]="response.responseBody"
              style="--ngx-json-null:none; --ngx-json-null-bg:none" [expanded]="false"></ngx-json-viewer></div>
        </div>
      </div>
      <div>
        <button *ngIf="response.requestBody || !undefined" type="button" class="btn btn-outline-primary ms-2 mb-3"
          (click)="isCollapsed2 = ! isCollapsed2" [attr.aria-expanded]="!isCollapsed2" aria-controls="collapseExample">
          Request Body (Anfrage)
        </button>
        <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed2">
          <div class="card">
            <div class="card-body"><ngx-json-viewer [json]="response.requestBody"
                style="--ngx-json-null:none; --ngx-json-null-bg:none" [expanded]="false"></ngx-json-viewer></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>