<div class="container">
  <h2>Verbindungseinstellungen</h2>
  <hr>
  <form [formGroup]="restapiForm" (ngSubmit)="connectToRESTAPI()">
    <div class="row">
      <div class="col-md-6 col-lg-4 col-sm-6">
        <div class="form-floating mb-3">
          <input type="url" class="form-control" id="RESTAPIInput" placeholder="http://placeholder.com"
            formControlName="restapiurl" maxlength="50" NgModule required>
          <label for="RESTAPIInput">REST API URL</label>
          <div *ngIf="showURLError">
            <div class="text-danger">REST API URL ist erforderlich.</div>
          </div>
          <p> z.B.: https://restapi.com/pxapi/v4</p>
        </div>
        <div class="form-floating">
          <input type="password" class="form-control" id="RESTAPIPassword" placeholder="RESTAPIPassword"
            formControlName="restapipassword" maxlength="20">
          <label for="RESTAPIPassword">REST API Passwort</label>
        </div>
        <div *ngIf="showPasswordError">
          <div class="text-danger">Passwort ist erforderlich.</div>
        </div>
        <div *ngIf="showError" class="text-danger">
          <p>Verbindungseinstellungen falsch, oder REST API nicht erreichbar!</p>
        </div>
        <div>
          <button type="submit" class="btn btn-primary m-2">Verbinden</button>
        </div>
      </div>
    </div>
  </form>
</div>